body {
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
    width: 1600px;
    margin: auto;
    align-content: center;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('assets/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/roboto-v20-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('assets/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/roboto-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('assets/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/roboto-v20-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('assets/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/roboto-v20-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.h1 {
    visibility: hidden;
}

.h2 {
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.button {
    width: 184px;
    height: 46px;
    background-color: #00AFDB;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 30px;
    align-items: center;
    text-align: center;
}

button:hover {
    background-color: #009CC2;
    cursor: pointer;
    border: none;
}

.img_header {
    background-image: url(assets/bg-image.png);
    height: 744px;
    width: 1600px;
}

.header {
    height: 95px;
    width: 583px;
    margin-left: 460px;
    display: flex;
    align-items: center;
    /*justify-content: center;
        */
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}


/*nav ul li {
    margin: 0 41px;
    line-height: 150%;
    opacity: 0.8;
    }*/

.header_link1 {
    margin: 0 42px 0 42px;
}

.header_link2 {
    margin: 0 42px 0 42px;
}

.img_link {
    margin: 0 59px 0 59px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    flex-direction: row;
    margin-right: 5px;
}

nav li {
    opacity: 80%;
}

nav li:first-child {
    opacity: 100%;
    text-decoration: underline;
}

nav li:hover {
    text-decoration: underline;
    opacity: 100%;
}

.your_life {
    text-align: center;
}

.your_life_header {
    font-style: h2;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    margin-top: 116px;
    height: 75px;
}

.your_life_text {
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.yourlife_button {
    display: flex;
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 183px;
}

.socials_link {
    margin: 0 15px;
    opacity: 100%;
}

.socials_link:hover {
    opacity: 60%;
}

.rappresent {
    height: 842px;
    display: flex;
}

.rappresent__content {
    margin-top: 295px;
    margin-right: 251px;
    margin-left: 268px;
    weight: 923px;
}

.rappresent_h3 {
    text-transform: uppercase;
    color: #373737;
    line-height: 28px;
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
}

.rappresent_text {
    font-size: 14px;
    line-height: 140%;
    font-family: 'Roboto', Verdana, sans-serif;
    color: #4e4e4e;
    margin-top: 22px;
}

.span_bold {
    font-weight: bold;
}

.rappresent__button {
    margin-top: 3px;
    margin-left: 1px;
}

.rappresent__image {
    margin-top: 120px;
    margin-right: 0px;
}

.counter {
    height: 120px;
    background-color: #f5f6f7;
    display: flex;
}

.counter_block {
    margin-left: 1234px;
    margin-top: 80px;
}

.counter_list {
    display: flex;
    padding: 0;
    align-items: center;
}

.counter_elements {
    list-style: none;
    margin: 0;
}

.arrow {
    margin: 0 14px;
    opacity: 100%;
}

.arrow:hover {
    opacity: 70%;
}

.slash {
    margin: 1px 7px 0 5px;
}

.our_community {
    background-color: #f5f6f7;
    height: 384px;
    display: flex;
    padding-left: 269px;
    overflow: hidden;
}

.our_community_block {
    width: 298px;
    margin-top: 35px;
    margin-right: 139px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 0;
}

.our_community_h4 {
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 20px;
}

.our_community_text {
    font-family: 'Roboto', Verdana, sans-serif;
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #4E4E4E;
}

.picture_slider {
    height: 244px;
    display: flex;
    padding: 0;
}

.slider_pic {
    flex-shrink: 0;
    list-style: none;
    margin-right: 30px;
}

.implement {
    height: 842px;
    display: flex;
}

.implement__image {
    margin-top: 120px;
    margin-left: 269px;
}

.implement__content {
    margin-top: 320px;
    margin-left: 139px;
}

.implement_h3 {
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

.implement_content {
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4e4e4e;
    margin-top: 20px;
}

.span_bold {
    font-weight: bold;
}

.implement__button {
    margin-top: 2px;
}

.button_1 {
    width: 181px;
    height: 46px;
    background-color: #00AFDB;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 30px;
    align-items: center;
    text-align: center;
}

.button_1:hover {
    background-color: #009CC2;
    cursor: pointer;
    border: none;
}

.sign_up {
    background-image: url(assets/sign.png);
    height: 524px;
    width: 1600px;
    display: flex;
    justify-content: center;
}

.sign_up_header {
    margin-top: 200px;
}

.sign_up_h3 {
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sign_up_form {
    display: flex;
    justify-content: center;
    margin-top: 29px;
}

.email {
    width: 315px;
    height: 43px;
    background: #ffffff;
    border: none;
    font-weight: bold;
    padding-left: 28px;
    padding-right: 0px;
    padding-top: 2px;
}

email:hover {
    cursor: text;
}

.button_send {
    width: 66px;
    height: 46px;
    background: #00afdb;
    border: none;
    transition: 0.5s;
}

button_send:hover {
    background-color: #009CC2;
    cursor: pointer;
    border: none;
}

.download {
    background-color: #F5F6F7;
    height: 464px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.download_block {
    height: 464px;
    margin-top: 119px;
}

.download_h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', Verdana, sans-serif;
    color: #373737;
}

.download_text {
    font-family: 'Roboto', Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4e4e4e;
    margin-top: 22px;
}

.store-buttons {
    display: flex;
}

.view_button {
    display: inline;
    margin: 31px -5px 0 33px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.left_part {
    width: 128px;
    height: 47px;
    background-color: #00AFDB;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.right_part {
    width: 60px;
    height: 47px;
    background-color: #009cc2;
    color: #ffffff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.market:hover button {
    background-color: #009cc2;
    cursor: pointer;
}

.footer {
    background-color: #000000;
    height: 185px;
    display: flex;
    flex-direction: row;
}

.footer_navigation {
    display: flex;
    margin-left: 160px;
}

.footer_navigation_icons {
    text-decoration: none;
    display: flex;
    font-family: 'Roboto', Verdana, sans-serif;
    flex-direction: row;
    margin-bottom: 14px;
    justify-content: center;
    padding: 0px;
    color: white;
}

.footer_nav_href {
    color: white;
    opacity: 80%;
    text-decoration: none;
    font-size: 14px;
}

.footer_navigation_icons:hover {
    text-decoration: underline;
    opacity: 100%;
}

.divisor {
    margin: 0 19px;
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: 10px;
}

.footer-logo {
    margin-left: 382px;
    margin-top: 60px;
}

.copyright {
    color: #818181;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    margin-left: 448px;
    margin-top: 75px;
    font-family: 'Roboto', Verdana, sans-serif;
}
